{% extends 'account/base.html' %}
{% load static %}
{% block content %}

    <center><h1>Change Password</h1></center>
            <form method="POST">
                {% csrf_token %}
                {% if messages %}
                <div class="alert alert-primary alert-dismissible" role="alert">
                    {% for message in messages %}
                    {{message}}
                    {%endfor%}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"><span aria-hidden="true"></span></button>
                </div>
                {% endif %}

               <div class="mb-3">
                    <label for="" class="form-label">Password</label>
                    <input type="password" name="newpassword" id="" class="form-control rounded-pill" placeholder="******"
                           aria-describedby="helpId">
                </div>
                <div class="mb-3">
                    <label for="" class="form-label">Confirm-Password</label>
                    <input type="password" name="confirmpassword" id="" class="form-control rounded-pill" placeholder="******"
                           aria-describedby="helpId">
                </div>
                <input type="hidden" name="user_id" value="{{profile_obj}}">
                <div class="form-group">
                    <input class="btn btn-sm btn-info rounded-pill" type="Submit" value="Submit">
                </div>
            </form>


{% endblock %}