{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
  <div class="container">
    <input type="checkbox" id="check">
    <div class="login form">
      <header>Sign up</header>
      <form action="#" method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <a href="#">Forgot password?</a>
        <input type="submit" class="button" value="sign up">
      </form>
      {% comment %} <div class="signup"> {% endcomment %}
        <span class="signup">Already have an account?
         <a href="{% url 'customer_login'%}">login</a>
        </span>
      {% comment %} </div> {% endcomment %}
    </div> 
  </div>
</body>
</html>
